<template>
  <q-footer elevated class="bg-secondary footer">
    <div class="container">
      <div class="footer__info">
        <div class="footer__contacts" style="text-align: center">
          <address>
            г. Сантк-Петербург, м.Парнас, ул. Николая рубцова, 6
          </address>
          <a href="tel:+79111554726">+7 (911) 155-47-26</a>
        </div>
        <div class="footer__logo">
          <svg
            width="30"
            height="39"
            viewBox="0 0 30 39"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.34884 0.0976601C5.05851 0.214855 4.94373 0.403667 4.82219 0.97662C4.76818 1.24356 4.70741 1.53004 4.68715 1.60817C4.65339 1.7514 4.62639 1.75792 3.75539 1.75792C2.33073 1.75792 1.64203 1.97928 0.933075 2.66292C0.487447 3.09263 0.237625 3.53536 0.0890822 4.14738C-0.0594604 4.77242 -0.0121969 9.47972 0.156602 10.222C0.548214 11.9929 1.3787 13.4448 2.68858 14.6688C3.87692 15.7757 5.37585 16.57 6.83427 16.863C7.21913 16.9346 7.22588 16.9411 7.57023 17.4359C8.64379 18.9855 9.81863 20.0988 11.2703 20.9518C11.8105 21.2708 11.8915 21.3684 12.1818 22.1497C12.4654 22.918 12.6679 23.8491 12.7287 24.6824L12.7692 25.3075L12.2426 25.4833C11.1015 25.8674 10.271 26.4143 9.73085 27.1175L9.43377 27.5081L8.34671 27.5407C6.51693 27.5993 6.61146 27.443 6.61146 30.5487V32.873L5.57166 32.8926C3.97145 32.9251 4.04572 32.7819 4.05247 35.9201C4.05247 38.4919 4.07273 38.609 4.44408 38.8499L4.67365 38.9997H14.8961C26.1448 38.9997 25.4561 39.0257 25.6992 38.596C25.8072 38.4007 25.8207 38.1728 25.8207 35.9071C25.8207 33.6153 25.814 33.4134 25.6992 33.2441C25.4966 32.9447 25.2198 32.8795 24.2003 32.8795H23.2887V30.5487C23.2887 27.4626 23.3495 27.5798 21.702 27.5667C20.6285 27.5602 20.4529 27.5081 20.1356 27.098C19.6832 26.5185 19.1903 26.1213 18.5556 25.8283C18.2045 25.6656 17.7454 25.4768 17.5226 25.4182L17.1242 25.2945L17.1715 24.6304C17.2323 23.5951 17.5023 22.5274 17.921 21.6289C18.083 21.2773 18.137 21.2317 18.8527 20.789C20.2166 19.9426 21.3374 18.8813 22.2287 17.5857L22.6743 16.9476L23.2685 16.8044C24.889 16.4137 26.2596 15.6324 27.475 14.4149C28.6295 13.256 29.3993 11.8041 29.7504 10.1243C29.8516 9.61645 29.8719 9.18023 29.8719 6.90145C29.8719 4.29713 29.8719 4.25806 29.7098 3.82184C29.5073 3.23587 29.0347 2.64989 28.5012 2.29831C27.8868 1.89464 27.5492 1.81 26.2934 1.76443L25.2198 1.72536L25.0915 1.11335C24.9497 0.410179 24.8552 0.24741 24.5379 0.104172C24.3353 0.0130196 23.363 0 14.9366 0C7.11785 0.00650787 5.53115 0.0195312 5.34884 0.0976601ZM23.5048 1.67979C23.5318 1.70583 23.6263 2.21367 23.7074 2.79964C23.8357 3.72418 23.8559 4.16691 23.8627 5.98994C23.8627 7.89109 23.8492 8.21012 23.7006 9.11512C23.228 12.1166 21.9856 15.3329 20.6285 17.0583C18.4409 19.8319 15.9089 20.8801 13.2891 20.0793C11.7497 19.6105 10.6491 18.7837 9.373 17.1299C8.06988 15.4436 7.34742 13.9396 6.71949 11.5892C6.00378 8.93933 5.81473 6.20479 6.13882 3.18378C6.26036 2.09648 6.31437 1.77094 6.40215 1.69281C6.50343 1.60817 7.53647 1.59515 14.9839 1.61468C19.6427 1.6277 23.4778 1.65374 23.5048 1.67979ZM4.40357 3.72418C4.30229 4.39479 4.34956 7.78041 4.47784 8.65936C4.79519 10.8926 5.14629 12.2729 5.88225 14.2131C6.03079 14.6037 6.13207 14.9358 6.11857 14.9553C6.04429 15.0269 4.85595 14.3628 4.3293 13.9592C3.1207 13.0281 2.28346 11.765 1.87159 10.2545C1.73656 9.77922 1.72305 9.51879 1.7028 7.16188C1.66904 4.35572 1.68254 4.25806 2.04039 3.8609C2.39825 3.47026 2.67508 3.38562 3.6271 3.38562H4.45759L4.40357 3.72418ZM27.3737 3.50932C27.718 3.65907 28.0556 4.02367 28.1434 4.3427C28.2379 4.66824 28.2379 8.1971 28.1501 9.18023C28.0219 10.5345 27.691 11.5176 27.0361 12.4747C26.631 13.0607 25.7937 13.8615 25.2198 14.2196C24.8755 14.4344 23.8086 14.9748 23.7344 14.9748C23.7141 14.9748 23.7749 14.8056 23.8627 14.5972C24.5986 12.8458 25.186 10.554 25.4629 8.33382C25.5574 7.57857 25.5844 4.51849 25.4966 3.82184L25.4426 3.38562H26.2731C26.928 3.38562 27.1576 3.41166 27.3737 3.50932ZM15.9629 22.0521C15.8144 22.599 15.5983 23.7254 15.5645 24.1225C15.5375 24.3699 15.5038 24.689 15.4835 24.8257L15.443 25.0731L14.9636 25.0536L14.4775 25.034L14.2276 23.6342C14.0926 22.8659 13.9643 22.1563 13.9441 22.0521L13.9103 21.8763H14.9569H16.0102L15.9629 22.0521ZM16.9284 26.9417C17.2795 27.0589 17.7049 27.2347 17.8737 27.3323L18.191 27.5081L16.5503 27.5277C15.6456 27.5342 14.1871 27.5342 13.3094 27.5277L11.7092 27.5081L12.0738 27.3193C13.0798 26.8115 13.6875 26.6943 15.1189 26.7138C16.2465 26.7333 16.3275 26.7464 16.9284 26.9417ZM21.6008 30.9914V32.8144H14.9501H8.29944V30.9914V29.1684H14.9501H21.6008V30.9914ZM24.1665 35.9396V37.372H14.9501H5.7337V35.9396V34.5072H14.9501H24.1665V35.9396Z"
              fill="white"
            />
            <path
              d="M14.7813 4.99378C14.518 5.08493 14.2479 5.46256 13.701 6.5108C13.2351 7.38976 13.0596 7.67623 12.8975 7.76738C12.7692 7.839 12.2493 7.94317 11.4931 8.04735C9.76462 8.28825 9.42027 8.47055 9.58232 9.06303C9.64984 9.29742 9.81864 9.49274 10.6964 10.3196C11.2636 10.86 11.7429 11.3613 11.7699 11.4395C11.797 11.5111 11.7362 11.9799 11.6349 12.4747C11.5404 12.976 11.4459 13.6466 11.4256 13.9787C11.3851 14.5581 11.3918 14.5777 11.5741 14.747C11.7362 14.9097 11.7902 14.9228 12.0805 14.8902C12.3776 14.8576 13.3499 14.4214 14.5112 13.8029C14.7611 13.6727 14.9366 13.6141 15.0446 13.6401C15.1324 13.6597 15.7468 13.9592 16.4153 14.2977C17.0837 14.6428 17.7252 14.9358 17.8399 14.9553C18.11 14.9944 18.5016 14.76 18.5692 14.5126C18.5962 14.4084 18.5489 13.9722 18.4544 13.4708C18.1843 11.9929 18.1438 11.6283 18.2248 11.4199C18.2653 11.3158 18.738 10.8079 19.2714 10.2871C20.2099 9.37555 20.3854 9.14116 20.3854 8.82864C20.3854 8.64634 20.0681 8.34684 19.7913 8.27522C19.6022 8.22314 18.3058 8.0213 17.4078 7.91062C16.9352 7.85202 16.7259 7.63717 16.3275 6.77123C15.6186 5.23468 15.2607 4.8245 14.7813 4.99378ZM15.4295 7.839C15.9967 8.9849 16.0169 9.00443 17.239 9.17372C17.7522 9.25184 18.2113 9.31044 18.2653 9.31044C18.3193 9.31044 18.3598 9.32997 18.3598 9.35602C18.3598 9.38857 18.0493 9.66854 17.6779 9.99408C16.9689 10.6061 16.7394 10.9186 16.7394 11.2767C16.7394 11.3939 16.8136 11.8562 16.9014 12.3054C16.9892 12.7547 17.05 13.1323 17.0365 13.1453C17.023 13.1583 16.6381 12.976 16.1722 12.7351C14.9704 12.1296 15.0041 12.1296 13.8766 12.6961C13.3634 12.95 12.9313 13.1518 12.9178 13.1323C12.8975 13.1127 12.9313 12.8393 12.9853 12.5268C13.1608 11.5371 13.1811 11.2246 13.0933 10.9772C13.0393 10.8209 12.7827 10.528 12.2696 10.0592C11.8105 9.63598 11.5606 9.36904 11.6147 9.34951C11.7227 9.31695 12.3709 9.21278 13.0866 9.11512C13.8766 9.01094 13.9711 8.91979 14.491 7.87155C14.7408 7.37673 14.9569 6.96655 14.9704 6.96655C14.9839 6.96655 15.1864 7.3572 15.4295 7.839Z"
              fill="white"
            />
          </svg>
        </div>
        <div class="footer__social">
          <SocialBtns />
        </div>
      </div>
      <div class="copyright">RECORD © - 2022</div>
    </div>
  </q-footer>
</template>

<script setup>
import SocialBtns from './SocialBtns.vue';
</script>

<style scoped lang="scss">
.footer {
  display: flex;
  justify-content: center;
}
.container {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__info {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
  div {
    flex-basis: 33.333%;
  }
  .footer__logo {
    text-align: center;
  }
}
.copyright {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.footer__social {
  display: flex;
  justify-content: end;
}
</style>
